
<div class=" text-center">
<h1>Bienvenido</h1>
<p>  </p>
<body>
    <div id="container">
        <form>
            <!-- Username -->
            <label for="name">Usuario:</label>
            <input type="name">
            <p></p>
            <!-- Password -->
            <label for="username">Contraseña:</label>
           
            <input type="password">
             <p><a href="#">¿Olvidaste tu contraseña?</a>
            <div id="lower">
                <input type="checkbox"><label class="check" for="checkbox">Recordar in</label>
                <!-- Submit Button -->
                <input type="submit" value="Login">
               
            </div>
            <div> 
            <p> </p>
            <div>
        </form>       
    </div>
    </div>
</body>