

        
  <br> 
        
<div class="container">
<div class=" text-center">
  <legend>Reporte </legend>
 
  <p>Reporte de tramites  (Agregar campos para filtrar busqueda) </p>     
  </div>       
  <table class="table table-hover">
    <thead>
      <tr>      <th>Folio</th>
        <th>Tipo</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Encargado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1231</td>
        <td>Monumentos historicos</td>
        <td>22/02/2017</td>
        <td>27/02/2017</td>
        <td>Juventino</td>
      </tr>
      <tr>
        <td>1231</td>
        <td>Aruqueologia</td>
        <td>22/02/2017</td>
        <td>27/02/2017</td>
        <td>Eligardo</td>
      </tr>
      <tr>
        <td>2131</td>
        <td>Conservacion</td>
        <td>15/04/2017</td>
        <td>20/02/2017</td>
        <td>Valencia</td>
      </tr>
       <tr>
        <td>3322</td>
        <td>Monumentos</td>
        <td>01/04/2017</td>
        <td>13/02/2017</td>
        <td>Memis</td>
      </tr>
       <tr>
        <td>1231</td>
        <td>Direccion centro INAH </td>
        <td>06/04/2017</td>
        <td>11/02/2017</td>
        <td>Valencia</td>
      </tr>
    </tbody>
  </table>
</div>