
<table>
  <tr>
    <th colspan="6">REPORTES </th>
  </tr>
  <tr>
    <td>No</td>
    <td>FOLIO</td>
    <td>tTRAMITE</td>
    <td>FECHA INI. </td>
    <td>FECHA FIN,</td>
    <td>ENCARGADO</td>
  </tr>
  <tr>
    <td>1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>