<h1>Welcome UAUAUA#index</h1>
<p>AQUI VAN LOS ARQUITECTOS :D </p>
<div class=" text-center">

<body>
    <div id="container">
        <form>
            <!-- Username -->
            <label for="name">Username:</label>
            <input type="name">
            <p></p>
            <!-- Password -->
            <label for="username">Password:</label>
           
            <input type="password">
             <p><a href="#">Forgot your password?</a>
            <div id="lower">
                <input type="checkbox"><label class="check" for="checkbox">Keep me logged in</label>
                <!-- Submit Button -->
                <input type="submit" value="Login">
            </div>
        </form>       
    </div>
    </div>
</body>