<div class=" text-center">
<h1> Bienvenido </h1> 
<h2>INSTITUTO NACIONAL DE ANTROPOLOGIA E HISTORIA </h2>

<img src="/app/assets/images/4A.png" alt="LOGO INAH">
<% image_tag("/app/assets/images/4A.png", alt: "MyInc Logo")%>
</div>